@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #e2e2e2;
    font-family:'Roboto';
}
header{
    display: flex;
    flex-direction:row ;
    align-items:end;
    justify-content:space-around;
    background-color:white;
    
}
.header__title{
    color:#3b5bdb;
    font-size: 25px;
    font-weight: 600;
    align-items: start;
    

}
.header__content{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width: 100%;
    margin-left: 230px;
    padding-top: 18px;
    padding-bottom:18px;

}
.header__input--search__input__box{
    background-color:#ebebeb; 
    border: none;
    width: 50%;
    padding: 16px;

    border-radius: 8px;

    margin-right: 230px;
    
}
.form__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin-top: 30px;
    padding: 50px;
    margin-left: 230px;
    margin-right: 230px;
    border-radius: 10px;
}
.form__input--text__input__box{
    background-color:#ebebeb;
    border: none;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
}
.form__input--priority__input__box{
    background-color:#ebebeb;
    color: #757575;
    border: none;
    padding: 20px;
    padding-right:200px;
    border-radius: 8px;
    width: 50%;
    margin-left: 30px;
}

.form__button--add-task{
    background-color: #3b5bdb;
    color: #ffff;
    border: none;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: large;
    font-weight: 520;
    cursor:pointer;
}

.form__input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.form__title--title2, h2{
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 30px;

}

.tasks__container{
    display: flex;
    flex-direction: column;
   
    background-color: white;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 50px;
    margin-left: 230px;
    margin-right: 230px;
    border-radius: 10px; 
}
.task__item{
    background-color:#f1f3f5;
    color:black;
    border: none;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: large;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}

.task__button--remove-task{
    background-image: url("/assets/trash-icon.svg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-color:#f1f3f5;
    border:none;
    cursor:pointer;
}

.task-type_span-normal{
    height: 10px;
    width: 10px;
    background-color:#028302;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;

}
.task-type_span-important{
    height: 10px;
    width: 10px;
    background-color:#f3a703;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}
.task-type_span-urgent{
    height: 10px;
    width: 10px;
    background-color:#e40404;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}
.task-info__container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}